body{
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;

}

.mainheadline {
    font-size: 30px;
    color: steelblue; 
}
.headline {
    font-size: 20px;
    color: lightsteelblue;
}

.paragraph1,
.paragraph2,
.paragraph3,
.checklist {
    font-size: 15px;
}

#meldingsboks {
    margin-top: 20px;
    border: none; 
    width: 250px;
    border-radius: 5px; 
    background-color: white;
    padding: 5px;
    text-align: center;
}

#lukknapp {
    margin-top: 15px;
}
 
.skjult {
    display: none;
}

.bilde-conteiner {
    text-align: left;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.meme {
    width: 250px;
    height: auto;
    border-radius: 12px;
}

#side2 {
    background-color: #EDEBE7; 
    color: white;
    padding: 30px;
    border-radius: 10px;
}

.side2-title {
    color: #495a49;
    font-size: 30px;  
}

.side2-undertitle {
    color: #7A8C7A;
    font-size: 20px;
}

.side2-text {
    color: #2F2F2F;
    font-size: 15px;
}


.checklist-side2 {
    color:#2F2F2F;
    font-size: 15px;
}


.bilde-conteiner2 {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.bilde {
    width: 200px;
    border-radius: 12px;
    border: 4px solid #7A8C7A; 
}